{% extends 'base.html' %}

{% block content %}

    {% if user.is_authenticated %}
        <div class="col-ms-6 mx-auto "  style="text-align: center;">
        <h1>this is dashboard </h1>
        <a href="{% url 'student_page'%}" class ="btn btn-dark" >student records</a>
        <a href="{% url 'courses_page'%}" class ="btn btn-dark" >Courses</a>
        <a href="{% url 'schemes_page'%}" class ="btn btn-dark" >Schemes</a>
        <a href="{% url 'state_page'%}"  class ="btn btn-dark">states </a>
        <a href="{% url 'college_page'%}" class ="btn btn-dark" >colleges</a>
        </div>



    {% else %}

    <h1 class="text-center">Login</h1>
    <br>

    <form method="POST" action="{% url 'home' %}" class="col-md-4 offset-md-4">
        {% csrf_token %}
        <div class="mb-3">
            <input type="text" class="form-control" name="username" placeholder="Username" required>
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" name="password" placeholder="Password" required>
        </div>
        <br>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </form>

    {% endif %}

{% endblock %}