{% extends 'base.html' %}

{% block content %}


    <div class="col-ms-6 mx-auto "  style="text-align: center;">
    {% if user.is_authenticated %}
    <h1 class="text-center">Scheme</h1>
        </div>
    {% if scheme_records %}

    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col">Scheme ID</th>
                <th scope="col">Scheme Name</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for record in scheme_records %}
            <tr>
                <td>{{record.id}}</td>
                <td>{{record.name}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

    <form class="d-flex" method="POST" action="{% url 'schemes_search' %}">
        {% csrf_token %}

        <input class="form-control me-2" type="search" placeholder="Search by scheme id or scheme name" aria-label="Search" name="schemes_search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

    <div class="col-ms-6 mx-auto "  style="text-align: center;">
    {% else %}

    <h1 class="text-center">Please log in to continue</h1>

    {% endif %}
    <a href = "{% url 'home' %} " class ="btn btn-primary " >Go Back</a>
    <a href = "{% url 'add_scheme' %} " class ="btn btn-primary " >Add Scheme</a>
    </div>
{% endblock %}