{% extends 'base.html' %}
{% block content %}
    <div class="col-ms-6 mx-auto "  style="text-align: center;">
        <h1> Records of students</h1>
    <form method="POST" action="{% url 'student_page' %}">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-primary">Search student</button>
    </form>
        </div>
<a href = "{% url 'add_student' %} " class ="btn btn-primary " >Add Student</a>
<a href="{%  url 'home' %}" class="btn btn-primary">Back</a>

{%  endblock %}