{% extends 'base.html' %}
{% block content %}
    <form class="d-flex" method="POST" action="{% url 'student_search' %}">
        {% csrf_token %}
        <label for="search_by">Search by</label>
        <select name="search_by" id="search_by">

          <option value="students_uid">UID</option>
          <option value="students_aadhar">Aadhar id</option>
        </select>
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="student_search">
        <button class="btn btn-outline-success" type="submit">Search</button>

      </form>

     <a href = "{% url 'add_student' %} " class ="btn btn-primary mt-2" >Add Student</a>
    <a href="{%  url 'home' %}" class="btn btn-primary mt-2">Back</a>
{%  endblock %}